@model SubscriberDTO
@{
    ViewData["Title"] = "ЗА СЪСТАВКИТЕ";
}
@section Styles {
    <link rel="stylesheet" href="~/css/ingredients.css" />
    <link rel="stylesheet" href="~/lib/owlcarousel/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/css/carousel-products.css" />
}

<!-- Carousel Start-->
<section>
    <div id="carousel-ingredients"
         class="carousel slide carousel-fade"
         data-bs-ride="carousel">
        <!-- Indicators Dots Start -->
        <div class="carousel-indicators">
            <button type="button"
                    data-bs-target="#carousel-ingredients"
                    data-bs-slide-to="0"
                    class="active"></button>
            <button type="button"
                    data-bs-target="#carousel-ingredients"
                    data-bs-slide-to="1"></button>
            <button type="button"
                    data-bs-target="#carousel-ingredients"
                    data-bs-slide-to="2"></button>
            <button type="button"
                    data-bs-target="#carousel-ingredients"
                    data-bs-slide-to="3"></button>
        </div>
        <!-- Indicators Dots End -->
        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
            <!-- Carousel Item 1 Start -->
            <div class="carousel-item active">
                <img src="./files/ingredients/carousel/image-01.webp"
                     alt="Натурална грижа за кожата ръчно изработена български съставки и някои с био произход. Еко опаковки, нежни формули, без алкохол. Натурален екстракт от шипка или невен е крем, лосион за лице и тяло."
                     width="1411"
                     height="228"
                     style="
                  width: 1573px;
                  height: 228px;
                  object-fit: cover;
                  object-position: 50% 50%;
                "
                     fetchpriority="high" />

                <div class="carousel-caption">
                    <h2 class="h2">ЗА СЪСТАВКИТЕ</h2>
                    <p class="fs-5">ПРОИЗХОД И ДЕЙСТВИЕ ВЪРХУ КОЖАТА И ПРОДУКТА</p>
                </div>
            </div>
            <!-- Carousel Item 1 End -->
            <!-- Carousel Item 2 Start -->
            <div class="carousel-item">
                <img src="./files/ingredients/carousel/image-02.webp"
                     alt="1687301198446-L.png"
                     width="1411"
                     height="228"
                     style="
                  width: 1573px;
                  height: 228px;
                  object-fit: cover;
                  object-position: 50% 50%;
                "
                     fetchpriority="high" />
                <div class="carousel-caption">
                    <h2 class="h2">ПРОИЗХОД</h2>
                    <p class="fs-5">
                        ОТ БЪЛГАРИЯ ИЛИ БИО. А НЯКОИ СЪСТАВКИ СА И ДВЕТЕ!
                    </p>
                </div>
            </div>
            <!-- Carousel Item 2 End -->
            <!-- Carousel Item 3 Start -->
            <div class="carousel-item">
                <img src="./files/ingredients/carousel/image-03.webp"
                     alt="IMG_20230907_190239.png"
                     width="1411"
                     height="228"
                     style="
                  width: 1573px;
                  height: 228px;
                  object-fit: cover;
                  object-position: 50% 50%;
                "
                     fetchpriority="high" />
                <div class="carousel-caption">
                    <h2 class="h2">НЕЖНИ И НАТУРАЛНИ</h2>
                    <p class="fs-5">
                        БЕЗ АЛКОХОЛ. ПОДХРАНВАТ, ХИДРАТИРАТ И ЗАЩИТАВАТ
                    </p>
                </div>
            </div>
            <!-- Carousel Item 3 End -->
            <!-- Carousel Item 4 Start -->
            <div class="carousel-item">
                <img src="./files/ingredients/carousel/image-04.webp"
                     alt="IMG_20230907_190239.png"
                     width="1411"
                     height="228"
                     style="
                  width: 1573px;
                  height: 228px;
                  object-fit: cover;
                  object-position: 50% 50%;
                "
                     fetchpriority="high" />
                <div class="carousel-caption">
                    <h2 class="h2">ЛЕСНО Е!</h2>
                    <p class="fs-5">
                        ГРИЖАТА ЗА КОЖАТА ТРЯБВА ДА Е ЛЕКА И ПРИЯТНА РУТИНА
                    </p>
                </div>
            </div>
            <!-- Carousel Item 4 End -->
        </div>

        <!-- Left and Right Controls Icons Start -->
        <button class="carousel-control-prev"
                type="button"
                data-bs-target="#carousel-ingredients"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next"
                type="button"
                data-bs-target="#carousel-ingredients"
                data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
        <!-- Left and Right Controls Icons End -->
    </div>
</section>
<!-- Carousel End-->
<!-- Section 01 Start -->
<section>
    <div class="d-flex justify-content-center p-0">
        <div style="width: 34%">
            <img src="./files/ingredients/section/image-section-01.webp"
                 alt="Натурална грижа за кожата ръчно изработена български съставки и някои с био произход. Еко опаковки, нежни формули, без алкохол. Натурален дезодорант с аромат на сладък портокал и евкалипт от етерични масла и витамин Е. Био съставки."
                 style="width: 100%; object-fit: cover" />
        </div>
        <div class="ps-5 pt-2" style="width: 66%">
            <h2 class="h2">МАСЛА</h2>
            <p class="fs-5">
                Използваме натурални масла от България като от шипка, кайсиеви
                ядки, бадемово и от гроздови семки. Като те могат да бъдат и био.
                А екзотичните масла като кокос, какако и жожоба естествено винаги
                са с био произход. В грижата за кожата маслата създават защитна
                бариера, която запазва водата хидратацията в кожата. Лятото са
                подходящи леки и "сухи" масла, които попиват бързо и са
                некомедогенни, а през сухите и студени месеци може по-плътни и
                твърди масла като кокос и какао.
            </p>
        </div>
    </div>
</section>
<!-- Section 01 End -->
<div style="background: rgb(var(--app-bg-secondary)); height: 20px"></div>
<!-- Section 02 Start -->
<section>
    <div class="d-flex justify-content-center p-0">
        <div class="pe-5 pt-2" style="width: 66%; text-align: right">
            <h2 class="text-right">АНТИОКСИДАНТИ</h2>
            <p class="fs-5">
                Имат много полезни ефекти. Накратко, забавят стареенето като
                предпазват от оксидация и свободни радикали. Успокояват кожата и
                раздразненията и намлят увреждането в клетките. Стимулират
                задравяването и производството на колаген и еластин. Всички наши
                продукти съдържат <strong>витамин Е</strong> - есетвен
                антиоксидант. А кремовете и лосионите ни съдържат и
                <strong>ниацинамид (витамин B3)</strong>, който помага и срещу
                пигментация. Често ботаническите <strong>екстракти</strong> като
                от <strong>зелен чай</strong>
                също са богати на антииоксиданти.
            </p>
            <a asp-controller="Details" asp-action="Index" asp-route-id="5" class="btn" style="float: right">МИЦЕЛАРНА ВОДА ЗЕЛЕН ЧАЙ</a>
        </div>
        <div style="width: 34%">
            <img src="./files/ingredients/section/image-section-02.webp"
                 alt=""
                 style="width: 100%; object-fit: cover" />
        </div>
    </div>
</section>
<!-- Section 02 End -->
<div style="background: rgb(var(--app-bg-secondary)); height: 20px"></div>
<!-- Section 03 Start -->
<section>
    <div class="d-flex justify-content-center p-0">
        <div style="width: 34%">
            <img src="./files/ingredients/section/image-section-03.webp"
                 alt="Натурална грижа за кожата ръчно изработена български съставки и някои с био произход. Еко опаковки, нежни формули, без алкохол. Натурален дезодорант с аромат на сладък портокал и евкалипт от етерични масла и витамин Е. Био съставки."
                 style="width: 100%; object-fit: cover" />
        </div>
        <div class="ps-5 pt-2" style="width: 66%">
            <h2 class="h2">ХУМЕКТАНТИ</h2>
            <p class="fs-5">
                Привличат водата и помагат за <strong>хидратацията</strong>.
                Използваме глицерин и хиалуронова киселина с растителен произход.
                <strong>Глицерина</strong> има малка молекула, която действа в
                дълбочина, а <strong>хиалуроновата киселина</strong>
                действа на повъхността на кожата. Заедно помагат за добрата и
                цялостна хидратация. Хумектаните често са водоразтворими и се
                намират в продукти като кремове и лосиони.
            </p>
            <a asp-controller="Details" asp-action="Index" asp-route-id="3" class="btn" style="float: left">ХИДРАТИРАЩ КРЕМ С ШИПКА</a>
        </div>
    </div>
</section>
<!-- Section 03 End -->
<div style="background: rgb(var(--app-bg-secondary)); height: 20px"></div>
<!-- Section 04 Start -->
<section>
    <div class="d-flex justify-content-center p-0">
        <div class="pe-5 pt-2" style="width: 66%; text-align: right">
            <h2 class="h2">НАТУРАЛЕН КОНСЕРВАНТ</h2>
            <p class="fs-5">
                Potassium Sorbate, Sodium Benzoate, Benzyl Alcohol. Звучат страшно
                нали? Тези три състваки са едини от натуралните консерванти,
                позволени в натурални и био продуктите. Общо са по-малко от 1%.
                Важни са, защото предпазват от разваляне и развитието на бактерии,
                гъбички, дрожди и мухъли в продуктите. Използват се главно в
                продукти с вода като кремове, лосиони, емулсии и серуми.
            </p>
        </div>
        <div style="width: 34%">
            <img src="./files/ingredients/section/image-section-04.webp"
                 alt=""
                 style="width: 100%; object-fit: cover" />
        </div>
    </div>
</section>
<!-- Section 04 End -->
<div style="background: rgb(var(--app-bg-secondary)); height: 20px"></div>
<!-- Section 05 Start -->
<section>
    <div class="d-flex justify-content-center p-0">
        <div style="width: 34%">
            <img src="./files/ingredients/section/image-section-05.webp"
                 alt="Натурална грижа за кожата ръчно изработена български съставки и някои с био произход. Еко опаковки, нежни формули, без алкохол. Натурален дезодорант с аромат на сладък портокал и евкалипт от етерични масла и витамин Е. Био съставки."
                 style="width: 100%; object-fit: cover" />
        </div>
        <div class="ps-5 pt-2" style="width: 66%">
            <h2 class="h2">БОТАНИЧЕСКИ ЕКСТРАКТИ</h2>
            <p class="fs-5">
                Често са глицеринови екстракти и имат различен ефект в зависимист
                от растенията и билките от които са извлечени. На пример, невенът
                успокоява и е подходящ за чувствителна кожа. Екстрактът от шипка
                помага в поддържането на кожата млада и елстична. А екстрактът от
                зелен чай е богат на антиоксиданти. Какъвто и екстракт да съдържат
                продуктите, винаги са страхотен натурален лек.
            </p>
        </div>
    </div>
</section>
<!-- Section 05 End -->
<div style="background: rgb(var(--app-bg-secondary)); height: 20px"></div>
<!-- Add To Subscribers Start -->
<form asp-controller="Ingredients" asp-action="AddToSubscribers" method="post">
    <partial name="_SubscribersPartial" />
</form>
<!-- Add To Subscribers End -->
<!-- Similar Products Start -->
<vc:carousel-products-component user-id="@ViewBag.UserId"></vc:carousel-products-component>
<!-- Similar Products End -->


@section Scripts {
    <script src="~/js/ingredients.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/js/carousel-products.js"></script>

    <!-- Validation form fields on client -->
    <partial name="_ValidationScriptsPartial" />

    <!-- Custom validation for the form -->
    <script src="~/js/customValidations.js"></script>

}