<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LIL'S CARE | @ViewData["Title"] </title>
    <link rel="icon"
          sizes="192x192"
          href="https://static.wixstatic.com/media/a6694c_487da19846414b3696763876d1233bd9%7Emv2.jpg"
          type="image/jpeg" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" asp-append-version="true" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/site.css" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    
    <header>
        <vc:header-component></vc:header-component>
    </header>
    <main role="main">
        <vc:shopping-bag-component></vc:shopping-bag-component>
        @RenderBody()
    </main>
    <footer class="border-top footer text-muted">
        <vc:footer-component></vc:footer-component>
    </footer>


    <!-- Redirecting to a specific element on a page after form submission -->
    <span id="scrollToElementId" style="display:none">@TempData["scrollToElementId"]</span>
    <script>
        // Check if there's a query parameter for scrolling
        const scrollToElementId = document.getElementById("scrollToElementId").textContent;
        var element = document.getElementById(scrollToElementId);
            if (element) {
                element.scrollIntoView({ behavior: 'instant' });
            }
    </script>
</body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/fontawesome/js/all.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</html>
