<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LIL'S CARE | @ViewData["Title"] </title>
    <link rel="icon"
          sizes="192x192"
          href="https://static.wixstatic.com/media/a6694c_487da19846414b3696763876d1233bd9%7Emv2.jpg"
          type="image/jpeg" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" asp-append-version="true" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/site.css" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <!-- Offcanvas Shopping Bag Start -->
    <div class="offcanvas offcanvas-end" id="shopping-bag">
        <div class="offcanvas-header">
            <h2 class="offcanvas-title">Моята количка</h2>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <hr />
            <!-- Product in Shopping Bag Start -->
            <div class="d-flex justify-content-between">
                <div class="w-50">
                    <img src="https://static.wixstatic.com/media/a6694c_24a7b0d7f63d42048f5a05e97362f385~mv2.jpg"
                         height="180px"
                         style="width: 100%; object-fit: cover"
                         alt="" />
                </div>
                <div class="w-50 fs-6 p-3">
                    <p>СКРАБ ЗА ТЯЛО</p>
                    <p>15,00 лв.</p>
                    <div class="my-2">
                        <input type="number" class="form-control w-auto" value="1" min="1"
                               max="999" display: flex; align-items: center; />
                    </div>
                    <a href="#" class="btn my-2"><i class="fa fa-trash-can me-2"></i> Изтрии</a>
                </div>
            </div>
            <!-- Product in Shopping Bag End -->
            <hr />
            <div class="d-flex justify-content-between">
                <div class="w-50">
                    <img src="https://static.wixstatic.com/media/a6694c_24a7b0d7f63d42048f5a05e97362f385~mv2.jpg"
                         height="180px"
                         style="width: 100%; object-fit: cover"
                         alt="" />
                </div>
                <div class="w-50 fs-6 p-3">
                    <p>СКРАБ ЗА ТЯЛО</p>
                    <p>15,00 лв.</p>
                    <div class="my-2">
                        <input type="number" class="form-control w-auto" value="1" min="1"
                               max="999" display: flex; align-items: center; />
                    </div>
                    <a href="#" class="btn my-2"><i class="fa fa-trash-can me-2"></i> Изтрии</a>
                </div>
            </div>
            <!-- Product in Shopping Bag End -->
            <hr />
            <div class="fs-4 py-3">
                <span>Междинна сума :</span><span class="float-end">20,50 лв.</span>
            </div>
            <a href="./cart.html" class="btn w-100">Преглед на количката</a>
        </div>
    </div>
    <!-- Offcanvas Shopping Bag End -->
    <header>
        <vc:header-component></vc:header-component>
    </header>
    <main role="main">
        @RenderBody()
    </main>
    <footer class="border-top footer text-muted">
        <vc:footer-component></vc:footer-component>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/fontawesome/js/all.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
