<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LIL'S CARE | @ViewData["Title"] </title>
    <link rel="icon"
          sizes="192x192"
          href="https://static.wixstatic.com/media/a6694c_487da19846414b3696763876d1233bd9%7Emv2.jpg"
          type="image/jpeg" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" asp-append-version="true" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/site.css" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    @RenderBody()
</body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/fontawesome/js/all.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</html>
