
<div class="menu">
    <ul class="nav flex-column p-2">
        <li class="nav-item m-2">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="text-uppercase">Начало</a>
        </li>
        <li class="nav-item m-2">
            <a asp-area="Admin" asp-controller="Products" asp-action="Index" class="text-uppercase">Продукти</a>
        </li>
        <li class="nav-item m-2">
            <a asp-area="Admin" asp-controller="Orders" asp-action="Index" class="text-uppercase">Поръчки</a>
        </li>
        <li class="nav-item m-2">
            <a asp-area="Admin" asp-controller="Users" asp-action="Index" class="text-uppercase">Клиенти</a>
        </li>
    </ul>
</div>