@{
}
<div class="row justify-content-center py-5">
    <div class="col-7">
        <h1 class="h2 text-center pb-3">ДОСТАВКА И ВРЪЩАНЕ</h1>
        <div class="pb-3">
            <h2 class="h4">Изпращане:</h2>
            <ol>
                <li>
                    След като направите поръчка в сайта ни (lilscare.com), ние я
                    обработваме като <strong>проверяваме наличността</strong> на
                    продуктите и старателно ги <strong>опаковаме</strong> в
                    рециклирани картонена кутийка и хартиен пълнеж за уплътнение
                </li>
                <li>
                    Обикновенно се свързваме по <strong>телефон</strong> (ако има
                    посочен) или имейл за потвърждение на поръчката и даниите за
                    доставка.
                </li>
                <li>
                    Ако има продукт, който не е наличен, се свързваме с Вас, за да
                    уточним как бихте искали да постъпим: да изпълним поръчката без
                    неналичните продукти, да ги заменим с други или да отменим
                    поръчката.
                </li>
                <li>
                    След като са уточнени детайлте, изпращаме доставка и потвърждение
                    в имейл с <strong>проследяващия номер</strong>.
                </li>
                <li>
                    Обранотваме поръчките си в срок <strong>до 2 работни</strong> дни
                    от момента на поръчване.
                </li>
            </ol>
        </div>
        <div class="pb-3">
            <h2 class="h4">Доставка:</h2>
            <ol>
                <li>
                    За хигиенния комфорт на клиентите ни изпращаме поръчките
                    <strong>с преглед, без тест</strong>.
                </li>
                <li>
                    Изпращаме със стандартна доставка на територията на България до
                    посочен от потребителя адрес или куриерски офис на Eконт или Спиди
                    <strong>от полето за адрес при поръчка</strong>.
                </li>
                <li>
                    Обикновенно куриерите не извършват доставки в неделя и на
                    официални празници.
                </li>
                <li>
                    Ако потребителят не успее да получи в срок пратката си, ние се
                    освобождаваме от задължението да изпълним доставката.
                </li>
                <li>
                    Цената на доставка се поема от потребителя и е калкулирана на
                    базата на ценовата листа на куриерската фирма. Зависи от типа
                    доставка, местоположение и сума на поръчката.
                </li>
                <li>Плащането се осъществява при доставка.</li>
            </ol>
        </div>
        <div class="pb-3">
            <h2 class="h4">Как мога да върна закупен продукт ?</h2>
            <p class="">
                Ако не сте удовлетворени от поръчката си, по време на преглед можете
                да върнете Вашият продукт и да не го заплащате (преди да сте
                напуснали куриера/куриерския офис), като транспортните разходи в
                двете посоки са за Ваша сметка. Продуктите трябва да са в същото
                състояние, в което сте ги получили: неизползвани, неотвряни (напр.
                серум, лосион и др.), неповредени, в оригиналната си опаковка, с
                етикети и без следи от употреба.
            </p>
        </div>
        <div class="pb-3">
            <h2 class="h4">Замяна:</h2>
            <p>
                В случай че продукти са пристигнали при Вас повредени или счупени
                при доставката, ние ще ги заменим като втората доставка ще е подарък
                от нас.
            </p>
        </div>

        <h1 class="h2 text-center pb-3">УСЛОВИЯ</h1>
        <div class="pb-3">
            <p>
                В тази декларация Ви информираме накратко за основните условия за
                ползване на нашия уебсайт (lilscare.com) или продукт. Когато
                използвате уебсайта ни и направите поръчка Вие се съгласявате с тези
                условия.
            </p>
        </div>

        <div class="pb-3">
            <h2 class="h4">
                Информацията на нашия уебсайт е само с образователна цел.
            </h2>
            <p class="">
                Всички становища не са били оценени от отговорни институции.
                Информацията няма за цел да диагностицира, да предлага превенция или
                лечение на медицински състояния. При медицински проблем се свържете
                с Вашия практикуващ лекар, медицинско лице или дерматолог.
            </p>
        </div>
        <div class="pb-3">
            <h2 class="h4">Продуктите ни не са с медицинско предназначение.</h2>
            <p class="">
                Всички наши продукти не са с фармацевтична цел и не са за лечение на
                медицински състояния. За диагноза и при медицински проблем се
                свържете с Вашия практикуващ лекар или друго медицинско лице.
            </p>
        </div>
        <div class="pb-3">
            <h2 class="h4">
                Информацията на тази страница и на уебсайта ни може да се промени.
            </h2>
            <p class="">
                В старанието си да подобряваме продуктите и услугите си, ние може да
                ги променяме по всяко време. Когато направим промени или уточнения,
                те влизат в сила веднага след като са публикувани. Може да се
                информирате за тях от тази страница или от индивидуалните страници
                на продуктите ни. Затова препоръчваме ги преглеждате периодично.
            </p>
        </div>
        <div class="pb-3">
            <h2 class="h4">Може да променяме продуктите си и техния състав.</h2>
            <p class="">
                Обръщаме специално внимание на това в допълнение към предишния
                параграф. В старанието си да подобряваме продуктите си, ние може да
                променим техните съставки и рецепта. Молим, преди да закупите наш
                продукт да прегледате информацията за него независимо дали го
                поръчвате за първи път или повторно и да следвате инструкциите за
                употреба. Това е с цел да се избегнат индивидуална алергична
                реакция, неудовлетвореност и други.
            </p>
            <ol>
                <li>Всички наши продукти са само за външна употреба.</li>
                <li>Не ги използвайте при алергия към някоя от съставките.</li>
                <li>Пазете ги далеч от малки деца.</li>
                <li>
                    Съхранявайте ги добре затвоерени, далеч от пряка слънчева светлина
                    и при други условия уточнени върху опаковката или на сайта.
                </li>
            </ol>
        </div>
    </div>
</div>