@inject IViewLocalizer Localizer

<!-- Account Menu Start-->
<div style="margin: 50px 20px 20px 100px">
    <div class="row border rounded ">
        <ul class="nav flex-column p-2">
            <li class="nav-item m-2">
                <a asp-controller="Account" asp-action="MyOrders" class="nav-link text-uppercase">@Localizer["My Orders"]</a>
            </li>
            <li class="nav-item m-2">
                <a asp-controller="Account" asp-action="MyAddresses" class="nav-link text-uppercase">@Localizer["My Addresses"]</a>
            </li>
            <li class="nav-item m-2">
                <a asp-controller="Account" asp-action="MyWishes" class="nav-link text-uppercase">@Localizer["My Wishes"]</a>
            </li>
            <li class="nav-item m-2">
                <a asp-controller="Account" asp-action="MyAccount" class="nav-link text-uppercase">@Localizer["My Account"]</a>
            </li>
        </ul>
    </div>
</div>
<!-- Account Menu End -->
