@model MyAccountDTO

<!-- Account Menu Start-->
<div style="margin: 50px 20px 20px 100px">
    <div class="row border rounded ">
        <ul class="nav flex-column p-2">
            <li class="nav-item m-2">
                <a class="nav-link text-uppercase" href="./my-orders.html">Моите поръчки</a>
            </li>
            <li class="nav-item m-2">
                <a class="nav-link text-uppercase" href="./my-addresses.html">Адреси</a>
            </li>
            <li class="nav-item m-2">
                <a class="nav-link text-uppercase" href="./my-wishlist.html">Желани продукти</a>
            </li>
            <li class="nav-item m-2">
                <a class="nav-link text-uppercase" href="./my-account.html">Моят акаунт</a>
            </li>
        </ul>
    </div>
</div>
<!-- Account Menu End -->
