@{
    ViewData["Title"] = "ADMIN HOME";
}

@section Styles {
    <link rel="stylesheet" href="~/css/admin.css" />
}

<partial name="_MenuAdminPartial" />
<div class="content">
    <div class="border rounded p-3">
        <h5 class="my-4">HOME</h5>
        <p></p>
        <hr />
    </div>
</div>
