.back-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: flex;
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  z-index: 99;
}

/*** Product Start ***/

.product .product-item {
  height: 100%;
  transition: 0.5s;
}
.product .product-item:hover {
  box-shadow: 0 0 55px rgba(0, 0, 0, 0.4);
}

.product .product-item .product-img {
  overflow: hidden;
  transition: 0.5s;
  border-radius: 15px 15px 0 0;
}

.product .product-item .product-img img {
  height: 350px;
  object-fit: cover;
  object-position: 0% 50%;
  transition: 0.5s;
}

.product .product-item .product-img img:hover {
  transform: scale(1.3);
}
/*** Product End ***/
