/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/

body {
    --bs-body-bg: rgb(var(--app-bg-color));
    --bs-body-color: rgb(var(--app-color));
    --bs-body-font-family: rubik-light, sans-serif;
    --bs-body-font-size: 18px/1.4em;
    --bs-body-font-weight: normal;
}

.dropdown-menu {
    box-shadow: none;
}

.dropdown-item {
    --bs-dropdown-link-color: rgb(var(--app-color));
    --bs-dropdown-link-hover-color: rgb(var(--app-btn-bg));
    --bs-dropdown-link-active-color: rgb(var(--app-btn-bg));
    --bs-dropdown-link-font-size: 14px;
}

.navbar {
    --bs-navbar-active-color: rgb(var(--app-btn-bg));
}

.nav-link {
    padding: 0;
    --bs-nav-link-color: rgb(var(--app-color));
    --bs-nav-link-hover-color: rgb(var(--app-btn-bg));
    --bs-nav-link-active-color: rgb(var(--app-btn-bg));
    --bs-nav-link-font-size: 14px;
}

.bg-secondary {
    --bs-bg-opacity: 1;
    background-color: rgb(var(--color_16), var(--bs-bg-opacity)) !important;
}

.btn {
    --bs-btn-color: rgb(var(--app-btn-color));
    --bs-btn-bg: rgb(var(--app-btn-bg));
    --bs-btn-border-color: rgb(var(--app-btn-color));
    --bs-btn-hover-color: rgb(var(--app-btn-color));
    --bs-btn-hover-bg: rgb(var(--app-btn-bg));
    --bs-btn-hover-border-color: rgb(var(--app-btn-bg));
    --bs-btn-focus-shadow-rgb: rgb(var(--color_41));
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgb(var(--app-btn-bg));
    --bs-btn-active-border-color: rgb(var(--color_41));
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: rgb(var(--color_41));
    --bs-btn-disabled-border-color: rgb(var(--color_41));
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgb(var(--color_41));
}

.btn-inverce {
    --bs-btn-color: rgb(var(--app-btn-bg));
    --bs-btn-bg: rgb(var(--app-btn-color));
    --bs-btn-border-color: rgb(var(--app-btn-bg));
    --bs-btn-hover-color: rgb(var(--app-btn-bg));
    --bs-btn-hover-bg: rgb(var(--app-btn-color));
    --bs-btn-hover-border-color: rgb(var(--app-btn-bg));
    --bs-btn-focus-shadow-rgb: rgb(var(--color_41));
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgb(var(--color_41));
    --bs-btn-active-border-color: rgb(var(--color_41));
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: rgb(var(--color_41));
    --bs-btn-disabled-border-color: rgb(var(--color_41));
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgb(var(--color_41));
}

.btn-image {
    width: 100px;
    height: 100px;
    font-size: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    --bs-btn-color: rgb(var(--app-btn-bg));
    --bs-btn-bg: rgb(var(--app-btn-color));
    --bs-btn-border-color: rgb(var(--app-btn-bg));
    --bs-btn-hover-color: rgb(var(--app-btn-bg));
    --bs-btn-hover-bg: rgb(var(--app-btn-color));
    --bs-btn-hover-border-color: rgb(var(--app-btn-bg));
}

.btn:hover {
    opacity: 0.85;
}

.overlay-button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    opacity: 0.6;
    border-width: 0;
    border-radius: 0 0 20px 20px;
}

.unactive-button {
    pointer-events: none;
    cursor: default;
    opacity: 0.7;
}

.form-check-input {
    background-color: rgb(var(--app-bg-color));
    border-color: rgb(var(--app-btn-bg));
}

    .form-check-input:checked {
        background-color: rgb(var(--app-btn-bg));
        border-color: rgb(var(--app-btn-bg));
    }

    .form-check-input:focus {
        box-shadow: none;
        border-color: rgb(var(--app-btn-bg));
    }

.form-control:focus {
    box-shadow: none;
    border-color: rgb(var(--app-color));
}

.form-select:focus {
    box-shadow: none;
    border-color: inherit;
}

header nav ul li {
    padding: 0 10px 0 10px;
}

footer div div {
    height: 215px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    margin-bottom: 0;
}

:root,
:host {
    --app-bg-color: 255, 255, 255;
    --app-bg-secondary: 228, 229, 230;
    --app-color: 66, 57, 57;
    --app-btn-bg: 151, 102, 92;
    --app-btn-color: 255, 255, 255;
    --app-bg-3: 250, 250, 250;
    --app-gray-1: 113, 107, 107;
    --app-gray-2: 161, 156, 156;
    --app-gray-3: 208, 206, 206;
    --color_43: 229, 203, 190;
}



