@{
}
<div class="row justify-content-center py-5">
    <div class="col-7">
        <div class="text-center pb-3">
            <h1 class="h2">ПОЛИТИКА ЗА ПОВЕРИТЕЛНОСТ</h1>
            <p>
                Защитата на личните данни и опазването на информацията на нашите
                клиенти ни е особено важно. В тази декларация Ви информираме
                накратко за най-важните аспекти от обработването на Вашите данни от
                нашия уебсайт (lilscare.com).
            </p>
        </div>
        <div class="pb-3">
            <h2 class="h4">
                Какво се случва с данните Ви, след като се свържете се нас?
            </h2>
            <p>
                Когато направите поръчка или сесвържете по имейл, телефон, чрез
                формуляр на нашия уебсайт или по какъвто и да е друг метод, ние
                получаваме и съхраняваме данните Ви (имена, адрес, телефон и имейл)
                за периода, необходим за обработване на искането Ви, както и за да
                отговорим на Ваши последващи въпроси и за да облекчим предоставянето
                на поръчка. Няма да споделяме тази информация с трети лица с
                изключение на куриерската фирма чрез която Ви изпращаме доставка при
                направена поръчка.
            </p>
        </div>
        <div class="pb-3">
            <h2 class="h4">Какъв тип данни събираме?</h2>
            <p>
                В допълнение, събираме IP адрес, login, имейл, парола, компютър,
                информация за връзка и история на покупките. Може да използваме
                софтуерни инструменти да измерваме и събираме информация за сесията,
                включително време за отговор на страницата и браузър. Също събираме
                и нелични данни като коментари, харесване, добавяне в любими и
                ревюта относно продуктите ни и препоръки, ако има такива.
            </p>
        </div>
        <div class="pb-3">
            <h2 class="h4">Защо събираме някои лични данни?</h2>
            <p class="">
                Получаваме, събираме и съхраняваме Ваша лична и нелична информация с
                цел:
            </p>
            <ul class="ps-4">
                <li>да изпъняваме исканията Ви;</li>
                <li>да обработим и изпратим Ваша поръчка успешно;</li>
                <li>
                    да Ви преодставяме информация относно Ваша поръчка в процес (напр.
                    наличност, изпратена, статус и т.н.);
                </li>
                <li>
                    да можем да се свържем с наши постетители и потребители относно
                    общи или персонализирани известия, предложения, рекламни и
                    информативни имейли;
                </li>
                <li>
                    да създаваме и получаваме обобщени статистически данни, който ние
                    или наши бизнес партньори може да използват с цел да подобрим
                    съответните ни услуги;
                </li>
                <li>
                    да се съобраизим с каквито и да е приложими закони и регулации;
                </li>
            </ul>
        </div>
        <div class="pb-3">
            <h2 class="h4">
                Как съхраняваме или разкриваме Ваши данни и тези на посетителите на
                уебсайта ни?
            </h2>
            <p>
                Нашия уебсайт е с уеб хостинг от платформата на Wix.com. Wix.com ни
                предоставя с онлайн платформата, която ни позволява да предоставяме
                продуктите и услугите си. Ваши данни може да се съхраняват чрез
                Wix.com в техни: хранилище за данни, бази данни или приложения. Те
                съхраняват данни на сигурно и зад защитна стена firewall.
            </p>
            <p>
                Всички пътища за директно плащане предоставени от Wix.com и
                използвани от нас се придържат към стандарите на PCI-DSS управляван
                от Съвета за Стандарти за Сигърност на PCI, който е създаден от
                общите усилия на марки като Visa, MasterCard, American Express and
                Discover. PCI-DSS стандартите и изискванията помагат да се гарантира
                сигурното обработване на информация за кредитни карти от нашия
                магазин и неговите доставчици на услуги.
            </p>
        </div>
        <div class="pb-3">
            <h2 class="h4">
                Ние използваме бисквитки / cookies по важни причини като:
            </h2>
            <ul class="ps-4">
                <li>
                    да предостави добро изживяване на посетителите и клиентите на
                    уебсайта;
                </li>
                <li>да индентфицира наши регистрирани потребители на уебсайта.</li>
                <li>да наблюдава и анализира производителностна платформата си.</li>
                <li>
                    да гарантира безопастността ис сигурноста на платформата си.
                </li>
            </ul>
        </div>
        <div class="pb-3">
            <h2 class="h4">Ако желаете повече да не обработваме Ваши данни:</h2>
            <p>
                или желаете да прегледате, промените, редактирате или изтриете Ваши
                лични данни, които имаме, свържете се с нас по имейл
                lils.care.handmade@gmail.com
            </p>
            <p>
                Запазваме правото си да променяме тази политика за поверителност по
                всяко време (макар че едва ли някога,,) затова я проверявайте често
                (макар че няма смисъл). Ако направим промени и уточнения, то те
                влизат в сила веднага щом са публикувани на уебсйата и от тази
                страница може да се информирате за тях . (Бяхме длъжни да напишем и
                това.)
            </p>
            <p>
                TWIPLA (previously named Visitor Analytics) is a simple website
                analytics service that measures traffic on our website and collects
                general information from our website visitors. We create statistics
                to improve the experience of our website visitors. We never use
                cookies for this purpose. As a website operator using TWIPLA to
                conduct reach measurement, depending on the level of data protection
                we have activated (level 3 of 4: GDPR Privacy), we may process
                information about the device you are using and its characteristics,
                information about technical characteristics of the website visit,
                the number of page visits and statistically relevant behavior of our
                website visitors. The technology does not use the collected data to
                identify individual visitors or to match the data with additional
                information about an individual user. Depending on the location from
                which you access our website, TWIPLA may not collect any information
                about the device you are using due to our technical settings.
            </p>
        </div>
    </div>
</div>