@model ContactUsDTO
@{
    ViewData["Title"] = "ЗА КОЖАТА";
}
<!-- Section 1 Start-->
<section class="fs-5">
    <div class="d-flex justify-content-center p-0">
        <div style="width: 34%">
            <img src="./files/skin-types/sections/skin-sections-image-01.webp"
                 alt=""
                 style="width: 100%; max-height: 389px; object-fit: cover" />
        </div>
        <div class="ps-5 pt-2" style="width: 66%">
            <h2 class="h2">ЗАЩО Е ВАЖЕН ТИПА КОЖА?</h2>
            <p>
                За да избираш подходящи продукти. Няма смисъл от скъпа козметика,
                ако не е подходяща за теб. Типовете кожа са <strong>суха</strong>,
                <strong>мазна</strong> и <strong>комбинирана</strong>, а в
                допълнение може да е и <strong>чувствителна</strong>. Различните
                продукти са създадени да помагат с различни проблеми на кожата.
                Продуктите за мазна кожа биха изтощили сухата кожа и обратното.
                Подходящите продукти са в основата на добрата рутина.
            </p>
            <p>
                А знаете ли, че типа на кожата може да се променя? Кожата расте и се
                регенерира постоянно. Тя се адаптира и променя. След продължително
                изплозване на продукти типа на кожата може да се промени.
            </p>
        </div>
    </div>
</section>
<!-- Section 1 End-->

<!-- Section 2 Start-->
<section class="fs-5" style="background-color: rgb(var(--app-bg-3))">
    <div class="d-flex justify-content-center p-0">
        <div style="width: 66%">
            <div class="p-4">
                <h2 class="h2">КАКЪВ Е МОЯ ТИП КОЖА?</h2>
                <p>
                    Лесно е! Почисти лицето си с нежен измиващ продукт с отмиване и
                    без AHA или друг пилинг. Изплакни, нежно подсуши и
                    <strong>не</strong> нанасяй никакви други продукти. След около 30
                    минути и провери как се чувства кожата:
                </p>
                <p class="mb-0">
                    - ако стяга, дръпа или се лющи или просто се усеща... суха
                </p>
                <p class="mb-0">- ако се е омазнила... е мазна</p>
                <p class="mb-0">
                    - а ако на места е мазна, напр. носа и челото, а на други места е
                    по-суха, имаш кобинирана, което е и най-често срещания тип кожа
                </p>
            </div>
        </div>
        <div style="width: 34%">
            <div>
                <img src="./files/skin-types/sections/skin-sections-image-02.webp"
                     alt=""
                     style="width: 100%; max-height: 327px; object-fit: cover" />
            </div>
        </div>
    </div>
</section>
<!-- Section 2 End-->

<svg xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 1920 200"
     fill="rgb(var(--app-bg-3))"
     transform="scale(-1, -1)">
    <path d="M0,200 A4000,4000 0 0 0 960,100  A4000,4000 0 0 1 1920,0 V200 h-1920 z" />
</svg>

<!-- Section Examples of Short Routine Start-->

<section class="fs-5">
    <div class="container w-75 text-center mb-5">
        <p>Примери за</p>
        <h1 class="h1">КРАТКА РУТИНА</h1>
    </div>
    <!-- Section 3 Start-->
    <section>
        <div class="d-flex justify-content-center p-0">
            <div style="width: 30%">
                <img src="./files/skin-types/sections/skin-sections-image-03.webp"
                     alt=""
                     style="width: 100%; max-height: 473px; object-fit: cover" />
            </div>
            <div class="ps-5 pt-2" style="width: 70%">
                <h2 class="h2">ЗА СУХА КОЖА:</h2>
                <p>
                    Тя по-трудно се омазнява сама и не отделя много себум, който е
                    естествената защита. Това често води до чувствителност. Подходящ
                    избор са деликатни и плътни продукти с повече масла и емолиентни
                    съставки, които да защитават кожата и да помогнат нейното
                    възстановяване.
                </p>
                <div class="row fs-6">
                    <div class="col">
                        <span style="display: inline-flex; align-items: center">
                            измиващ продукт
                            <img src="./files/svg/arrow-right.svg"
                                 alt=""
                                 style="width: 30px; height: 30px; opacity: 0.5" />
                        </span>
                        <img src="./files/svg/skin-svg-01.svg"
                             alt=""
                             style="width: 100px; height: 130px; opacity: 0.5" />
                    </div>
                    <div class="col">
                        <div class="col justify-content-between">
                            <span style="display: inline-flex; align-items: center">
                                хидратиращ крем
                                <img src="./files/svg/arrow-right.svg"
                                     alt=""
                                     style="width: 30px; height: 30px; opacity: 0.5" />
                            </span>
                            <img src="./files/svg/skin-svg-02.svg"
                                 alt=""
                                 style="width: 100px; height: 130px; opacity: 0.5" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="col justify-content-between">
                            <span style="display: inline-flex; align-items: center">
                                подхранващ серум масло
                                <img src="./files/svg/arrow-right.svg"
                                     alt=""
                                     style="width: 30px; height: 30px; opacity: 0.5" />
                            </span>
                            <img src="./files/svg/skin-svg-03.svg"
                                 alt=""
                                 style="width: 100px; height: 130px; opacity: 0.5" />
                            <img src="./files/svg/skin-svg-05.svg"
                                 alt=""
                                 style="width: 35px; height: 43px; opacity: 0.5" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="col justify-content-between">
                            <span style="display: inline-flex; align-items: center">
                                слъцезащита
                                <img src="./files/svg/arrow-right.svg"
                                     alt=""
                                     style="width: 30px; height: 30px; opacity: 0.5" />
                            </span>
                            <img src="./files/svg/skin-svg-04.svg"
                                 alt=""
                                 style="width: 100px; height: 130px; opacity: 0.5" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section 3 End-->
    <!-- Section 4 Start-->
    <section style="background-color: rgb(var(--app-bg-3))">
        <div class="d-flex justify-content-center p-0">
            <div class="ps-5 pt-2" style="width: 70%">
                <h2 class="h2">ЗА МАЗНА КОЖА:</h2>
                <p>
                    Омазнява се повече от необходимото и се получават повече пъпчици,
                    черни точки и запушени пори. Подходящи са леки, хидратиращи и
                    некомедогенни продукти без много масла. Също и AHA/BHA пилинг
                    киселини 1-2 пъти седмично. Те обаче могат да раздразнят кожата и
                    е важно да ги последваме с добра хидратация за защита на кожната
                    бариера.
                </p>
                <div class="row fs-6">
                    <div class="col">
                        <span style="display: inline-flex; align-items: center">
                            измиващ продукт
                            <img src="./files/svg/arrow-right.svg"
                                 alt=""
                                 style="width: 30px; height: 30px; opacity: 0.5" />
                        </span>
                        <img src="./files/svg/skin-svg-01.svg"
                             alt=""
                             style="width: 100px; height: 130px; opacity: 0.5" />
                    </div>
                    <div class="col">
                        <div class="col justify-content-between">
                            <span style="display: inline-flex; align-items: center">
                                лек серум на водна основа
                                <img src="./files/svg/arrow-right.svg"
                                     alt=""
                                     style="width: 30px; height: 30px; opacity: 0.5" />
                            </span>
                            <img src="./files/svg/skin-svg-03.svg"
                                 alt=""
                                 style="width: 100px; height: 130px; opacity: 0.5" />
                            <img src="./files/svg/skin-svg-05.svg"
                                 alt=""
                                 style="width: 35px; height: 43px; opacity: 0.5" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="col justify-content-between">
                            <span style="display: inline-flex; align-items: center">
                                хидратиращ лосион / гел
                                <img src="./files/svg/arrow-right.svg"
                                     alt=""
                                     style="width: 30px; height: 30px; opacity: 0.5" />
                            </span>
                            <img src="./files/svg/skin-svg-02.svg"
                                 alt=""
                                 style="width: 100px; height: 130px; opacity: 0.5" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="col justify-content-between">
                            <span style="display: inline-flex; align-items: center">
                                слъцезащита
                                <img src="./files/svg/arrow-right.svg"
                                     alt=""
                                     style="width: 30px; height: 30px; opacity: 0.5" />
                            </span>
                            <img src="./files/svg/skin-svg-04.svg"
                                 alt=""
                                 style="width: 100px; height: 130px; opacity: 0.5" />
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 30%">
                <img src="./files/skin-types/sections/skin-sections-image-04.webp"
                     alt=""
                     style="width: 100%; max-height: 473px; object-fit: cover" />
            </div>
        </div>
    </section>
    <!-- Section 4 End-->
    <!-- Section 5 Start-->
    <section>
        <div class="d-flex justify-content-center p-0">
            <div style="width: 30%">
                <img src="./files/skin-types/sections/skin-sections-image-05.webp"
                     alt=""
                     style="width: 100%; max-height: 473px; object-fit: cover" />
            </div>
            <div class="ps-5 pt-2" style="width: 70%">
                <h2 class="h2">ЗА КОМБИНИРАНА КОЖА:</h2>
                <p>
                    На Т-зоната може рутина за мазна... а на бузите рутина... Но кой
                    би искал рутина за всяка част от лицето?! Пробвай различни
                    продукти и експериментирай. Не използваи всеки продукт на цялото
                    лице, а повече или по-често където е нужен. Например AHA пилинг на
                    Т-зоната и по-рядко на цялото лице. А лосион основно основно на
                    бузите. Слушай кожата си и нейните нужди.
                </p>
                <div class="row fs-6">
                    <div class="col">
                        <span style="display: inline-flex; align-items: center">
                            измиващ продукт
                            <img src="./files/svg/arrow-right.svg"
                                 alt=""
                                 style="width: 30px; height: 30px; opacity: 0.5" />
                        </span>
                        <img src="./files/svg/skin-svg-01.svg"
                             alt=""
                             style="width: 100px; height: 130px; opacity: 0.5" />
                    </div>
                    <div class="col">
                        <div class="col justify-content-between">
                            <span style="display: inline-flex; align-items: center">
                                лек серум
                                <img src="./files/svg/arrow-right.svg"
                                     alt=""
                                     style="width: 30px; height: 30px; opacity: 0.5" />
                            </span>
                            <img src="./files/svg/skin-svg-03.svg"
                                 alt=""
                                 style="width: 100px; height: 130px; opacity: 0.5" />
                            <img src="./files/svg/skin-svg-05.svg"
                                 alt=""
                                 style="width: 35px; height: 43px; opacity: 0.5" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="col justify-content-between">
                            <span style="display: inline-flex; align-items: center">
                                хидратиращ лосион
                                <img src="./files/svg/arrow-right.svg"
                                     alt=""
                                     style="width: 30px; height: 30px; opacity: 0.5" />
                            </span>
                            <img src="./files/svg/skin-svg-02.svg"
                                 alt=""
                                 style="width: 100px; height: 130px; opacity: 0.5" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="col justify-content-between">
                            <span style="display: inline-flex; align-items: center">
                                слъцезащита
                                <img src="./files/svg/arrow-right.svg"
                                     alt=""
                                     style="width: 30px; height: 30px; opacity: 0.5" />
                            </span>
                            <img src="./files/svg/skin-svg-04.svg"
                                 alt=""
                                 style="width: 100px; height: 130px; opacity: 0.5" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section 5 End-->
</section>

<!-- Section Examples of Short Routine End-->

<div class="fs-5" style="background-color: rgb(var(--app-bg-secondary))">
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 1920 200"
         fill="rgb(var(--app-bg-color))"
         transform="scale(1, -1)">
        <path d="M0,200 A4000,4000 0 0 0 960,100  A4000,4000 0 0 1 1920,0 V200 h-1920 z" />
    </svg>
    <div class="container w-75 text-center">
        <p class="mb-0">
            БЕЛЕЖКА: Тези рутини са само примерни. Използвайте ги и ги адаптирайте
            съобразно нуждите Ви. Информацията на тази страница и на сайта е само
            с образователна цел. За диагноза, превенция или лечение на медицински
            състояния се допитайте до лекар.
        </p>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 1920 200"
         fill="rgb(var(--app-bg-color))"
         transform="scale(1, 1)">
        <path d="M0,200 A4000,4000 0 0 0 960,100  A4000,4000 0 0 1 1920,0 V200 h-1920 z" />
    </svg>
</div>

<!-- Contact Us Start -->
<section id="contact-as" style="position: relative">
    <div class="d-flex justify-content-center">
        <div style="width: 25%">
            <img src="./files//home/focus/home-focus-image-01.webp"
                 alt=""
                 style="width: 100%" />
        </div>
        <form asp-controller="Skin" asp-action="ContactUs" method="post" style="width: 65%; padding: 0 0 0 25px">
            <partial name="_ContactUsPartial" />
        </form>
    </div>
</section>
<!-- Contact Us End -->

<svg xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 1920 200"
     fill="rgb(var(--app-bg-secondary))"
     transform="scale(-1, 1)">
    <path d="M0,200 A4000,4000 0 0 0 960,100  A4000,4000 0 0 1 1920,0 V200 h-1920 z" />
</svg>

@section Scripts {
    <!-- Validation form fields on client -->
    <partial name="_ValidationScriptsPartial" />

    <!-- Custom validation for the form -->
    <script src="~/js/customValidations.js"></script>

}

